.menu {
    width:234px;
    position: fixed;
    top:0;
    left:-100%;
    bottom:0;
    padding:20px;
    overflow: auto;
    background-color: rgba(0,0,0,.5);
    z-index:22;
}
.menu-title {
    color:#fff;
    font-size:20px;
    margin-bottom:20px;
}
.menu dl {
    margin-bottom:14px;
}
.menu dl dt {
    color:#fff;
    font-size:16px;
    margin-bottom:5px;
}
.menu dl dd li{
    padding-left:10px;
    position: relative;
}
.menu dl dd li:before {
    content:'';
    position: absolute;
    left:0;
    margin-top:12px;
    width:6px;
    height:6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color:#fce982 ;
}
.menu dl dd a{
    color:#fce982;
    font-size:14px;
    line-height: 30px;
}
